<app-header></app-header>
<div class="row breadcrum_img">
  <div class="">
    <div class="">
      <div class=""> <div class="page_head">About Us</div>
        <ol class="breadcrumb">
            <li class="home_tab"><a (click)="onClickhome()">Home</a></li>
            <li><a class="current-page">About Us</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="best-dishes-content">
  <div class="dishes-left">
    
  </div>
    <div class="dishes-image-right">
      <!-- <img class="imginside-one" alt="idly-image" src="./assets/samosa.jpg">
        <img class="imginside-two" alt="idly-image" src="./assets/vadai.jpg"> -->
      <div class="dishes-h1">
        A few words about us
      </div>
      <div class="dishes-h1-content">
        <div class="sub-h1">
          Welcome to the Restaurant Ganesha Frankfurt!
        </div>
        <p> <br><br>

          Meet Your Expectations Can Not Be Our Aim. We Want To Exceed Your Expectations.<br><br>

          With a unique atmosphere, in which our valued guests feel very comfortable. With a kitchen, which always makes
          for culinary surprises. With a perfect service that is as unobtrusive as good background music.<br><br>

          not less not more well - we want to be the best for our valued guests. On look forward to welcoming your
          Ganesha Team!<br><br>

          Our goal is to help you enjoy the little things in life that matter. So eat delicious food. Grab a drink. But
          most of all, relax! We thank you from the bottom of our hearts for your continued support.<br><br>
        </p>


      </div>
    </div>
  </div>
<app-footer></app-footer>
