<div class="main-footer">
  <div class="footer-heading">
    <div class="head-one">
      <span class="site-name">{{site_name}} <i class="fa fa-cutlery" aria-hidden="true"> </i></span>
    </div>
    <!--  <div class="contact-us">
        <span class="cnt-us">
          Contact Us
        </span>
      </div> -->
    <div class="address-main">
      <div class="address-txt">
        <div class="addr-zero">Address:</div>
        <div class="addr-first">Niddastraße 104,</div>
        <div class="addr-second">60329 Frankfurt am Main</div>
        <div class="addr-third">Germany</div>
        <!-- <div class="maps-fld">
          <mat-icon class="google-maps"><span class="material-symbols-outlined">
              <a class="map-background" href="https://www.google.com/maps/@50.1219328,8.68352,12z">
                location_on</a>
            </span></mat-icon>
        </div> -->
      </div>
      <div class="telephone-Email">
        <div class="phone">Phone :</div>
        <div class="phonenumber">069 24007613</div>
        <div class="Email">Email :</div>
        <div class="email-add">ganeshaindianrestaurant
          <br />
          <br />
          @gmail.com</div>
      </div>
      <div class="opening-hrs">
        <div class="h1-hrs">Opening Hours :</div>
        <div class="weekdays">
          Monday - Saturday
        </div>
        <div class="timings-weekday">
          11.30Uhr - 22Uhr
        </div>

        <div class="weekEnd">
          Sunday - Holiday!!!
        </div>
      </div>

      <div class="google-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.874152821426!2d8.65553511558072!3d50.10736247942947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd0bfd9274a8b5%3A0x348c581c9da97779!2sGanesha%20Restaurant!5e0!3m2!1sen!2sde!4v1671645908195!5m2!1sen!2sde"
         class="google-mao-style" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <!--  <div class="support-txt">
          <div class="support-links">Support-links:</div>
          <div class="private-policy">Private policy</div>
          <div class="service">Service</div>
          <div class="contactus">Contact us</div>
          <div class="Support">Support</div>
        </div> -->
      <!-- <div class="subscribe-cnt">
          <div class="subscribe">
            <div class="subscribe-here">Subscribe here:</div>
            <div class="email-input">

              <input class="email-control" type="text" placeholder="Email Address">
              <button class="go-icon" mat-icon-button (click)="goSearch()" [(ngModel)]="gosearchText" #gosearchbar>
                <mat-icon><span class="material-symbols-outlined">
                    send
                  </span></mat-icon>
              </button>
            </div>
            <div class="sub-cnt">
              <div class="content-subs">
                Subscribe to our mailing list and get updates to your email inbox.
              </div>
            </div>
          </div>
        </div> -->
    </div>
    <div class="copyrights-txt">
      <div class="cpy-left">
        <span class="cpy-sym">
          &copy; 2023 {{site_name}}. All rights reserved.
        </span>
      </div>
      <!--   <div class="cpy-right">
          <mat-toolbar>
            <div class="footermenu-list">
              <mat-nav-list class="footerlist-horizontal">
                <mat-list-item>
                  <a href>Support</a>
                </mat-list-item>
                <mat-list-item>
                  <a href>Private policy</a>
                </mat-list-item>

                <mat-list-item>
                  <a href>Contact us</a>
                </mat-list-item>
              </mat-nav-list>
            </div>

          </mat-toolbar>
        </div> -->

    </div>
  </div>
</div>
