.menu-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #171616;
}

.hd-main {
  width: 50%;
  background: #171616;
}

.img-clss,
.res-name {
  cursor: pointer;
}

.header-text {
  padding-top: 16px;
  padding-left: 23px;
  color: whitesmoke;
  display: flex;
}

.img-logo {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 10px;
  height: 84px;
}

.res-name {
  padding-left: 17px;
  padding-top: 10px;
}

.res-txt {
  font-size: 40px !important;
  font-style: italic !important;
  font-weight: bold;
  padding-top: 6px;
}


.besteck {
  color: white;
  padding: 2px;
}

.right-banner {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

.menu-list {
  width: 20%;
  padding-top: 30px;
  color: white;
}

.menu-lstdn {
  display: flex;
  justify-content: space-between;
}

/* .mat-toolbar-multiple-rows {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
}

.mat-toolbar {
  background: #171616;
  color: white;
}
 */

/* here's what you're looking for B-) */
/* mat-nav-list.list-horizontal {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 5s;

  .mat-list-item {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
    top:0;
    right:0;
    color: white;
  }

  .mat-list-item a:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }
} */
.main-sidenav {
  flex: 1;
  text-align: right;
  width: 80%;
  /*  display: contents !important; */
}

.main-sidenav a {
  text-decoration: none;
  color: white;
}

.main-sidenav ul li {
  list-style: none;
  display: inline-block;
  padding-top: 16px;
  padding-right: 35px;
  padding-left: 40px;

}

.navigation-items {
  list-style-type: none;
  padding: 2px;
  margin: 0px;
}

.main-sidenav ul li::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
}

.main-sidenav a:hover,
a:active {
  text-decoration: none;
  color: lightgray;

}

.mat-toolbar {
  border-radius: 3px;
  background: #171616;
  color: white;
}


.menu_name  {
  text-decoration: none;
  color: white;
  padding-right: 61px;
  font-size: 25px;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  padding: 0;
}

mat-toolbar-row.mat-toolbar-row {
  padding: 0;
}

.mat-drawer-container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: none;
  /* overflow: hidden; */
}


/* Media query */
@media(max-width:959px) {
  .menu-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #171616;
  }

  .right-banner {
    width: 100%;
    height: 11vh;
  }

  .side-Button {
    padding: 10px !important;
  }

  mat-sidenav.mat-drawer.mat-sidenav {
    width: 45vh;
    background-color: whitesmoke;
    color: black;
  }

  a:hover,
  a:active {
    color: gray;
  }

  .mat-drawer-container {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    /* overflow: hidden; */
  }

  mat-sidenav-content {
    height: 50vh !important;
  }

  .hd-main {
    width: 100%;
    background: #171616;
  }

  .header-text {
    padding-top: 16px;
    padding-left: 23px;
    color: whitesmoke;
    display: flex;
    width: 100%;
  }

  .img-logo {
    width: 59px;
    padding-top: 3px;
    padding-bottom: 10px;
  }

  .res-name {
    padding: 10px;
  }

  .res-txt {
    font-size: 16px !important;
    font-style: italic !important;
    font-weight: bold;
    padding-top: 6px;
  }


  .besteck {
    color: white;
    padding: 2px;
  }

  .mat-toolbar {
    border-radius: 0px;
  }


}
