.Crumbs{
  margin: 0;
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: white !important;
  color: #f1f1f1;
  list-style: none;
}

.main-header {
  color: rgb(6, 118, 79);
  text-align: center;
  font-weight: 600;
  width: 100%;
  float: left;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #131921;
}

.w100 {
  width: 100%;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w40 {
  width: 40%;
}

.w45 {
  width: 45%;
}

.w10 {
  width: 10%;
  text-align: center;
}

.w90 {
  width: 90%;
}

.w15 {
  width: 15%;
}

.w80 {
  width: 80%;
}

.w20 {
  width: 20%;
}

.w60 {
  width: 60%;
}

.img-logo {
  width: 137px;
  padding: 3px;
}

.w70 {
  width: 70%;
}

.w65 {
  width: 65%;
}

.w35 {
  width: 35%;
}

.apply-btn {
  padding-left: 14px;
}

.apply-button {
  padding: 5px 40px 5px 40px;
  border-radius: 5px;
  border: transparent;
  background-color: white;
  border: 1px solid grey;
  font-size: small;
}

.postal-code {
  display: flex;
  font-size: smaller;
}

.line1,
.line2 {
  // text-decoration-line: overline;
  border-bottom: 1px solid grey;
  margin: 8px;
  color: #767676;
}

.Other-code {
  display: flex;
  font-size: smaller;
}

.line3,
.line4 {
  // text-decoration-line: overline;
  border-bottom: 1px solid grey;
  margin: 8px;
  color: #767676;
}

.postal-input {
  display: flex;
}

.location {
  width: 15%;
  padding-left: 2px;
  padding: 0px;
  margin: 0px;
  text-align: justify;
  cursor: pointer;
}

.button-one {
  background-color: transparent;
  color: white;
  padding: 10px 95px 10px 23px;
  border: 1px solid white;
  display: flex;
}

.header-one {
  float: left;
  width: 100%;
  display: flex;
}

.heading-two {
  text-align: justify;
  padding: 10px;
  font-size: 16px !important;
  color: #567373;
  background-color: #D5D9D9;
}

.heading-close {

  background-color: #D5D9D9;
}

.main-popup {
  display: flex;
  border-color: #D5D9D9;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  // color: #06D85F;
  cursor: pointer;
}

.content {
  max-height: 30%;
  overflow: auto;
  color: black;
  font-size: 14px;
  text-align: justify;
  padding: 22px;
  padding-left: 0px;

}

.btn2 {
  float: right;
  border-radius: 17%;
  background-color: #ffc107;
  border: transparent;
  padding: 7px 15px 7px 15px;
  font-weight: 500;
}

span.content-data {
  font-size: 14px;
  font-weight: initial;
}

.address-bar {
  border: 1px solid #e77600;
  background-color: #fef8f2;
}

.addr-cnt {
  padding: 6px;
}

.full-address {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: #007185;
  font-weight: 500;

}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: underline;
}


a:hover {
  text-decoration: underline;
  color: red;
}


a:active {
  text-decoration: underline;
}

.cont-dt {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-One {
  /* display: -webkit-box; */
  width: 100%;
  font-size: x-small;
  font-weight: 500;
  color: #ccc;
  /* text-align: left; */
}

.text-two {
  /* display: -webkit-box; */
  width: 100%;
  font-size: x-small;
  font-weight: bold;
  color: #fff;
  /*
     text-align: left; */
}

.font-icon {
  padding-right: 10px;
  padding-top: 10px;
}

.inp-dt {
  padding: 5px 50px 5px 50px;
  border-radius: 4%;
  border: 0.5px solid black;
}

.app-container {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 700px) {

  .popup {
    width: 70%;
  }

  .app-container {
    margin: 0px;
    padding: 0px;
  }
}

/* SAmple */
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}
