<app-header></app-header>
<div class="row breadcrum_img">
  <div class="">
    <div class="">
      <div class="">
        <div class="page_head">Contact Us</div>
        <ol class="breadcrumb">
          <li class="home_tab"><a class="home-page" (click)="onClickhome()">Home</a></li>
          <li ><a class="current-page">Contact Us</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="contact-main-container">
  <div class="content-header">
    Contact Information
  </div>
  <div class="contact_card">
    <div class="row-container">
      <div class="card-location">
        <mat-card class="example-card">
            <div class="sym-container">
          <div class="mat-symbols">
            <mat-icon>
              <span class="material-symbols-outlined">
                location_on
              </span>
            </mat-icon>
          </div>
        </div>
          <mat-card-header>
            <mat-card-title class="mat-titles">Location</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-contents">
            <p>Niddastraße 104,
              <br>
              <br>
              60329 Frankfurt am Main,
              <br>
              Germany
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-phone">
        <mat-card class="example-card">
            <div class="sym-container">
            <div class="mat-symbols">
          <mat-icon class="mat-symbols">
            <span class="material-symbols-outlined">
              phone_in_talk
            </span>
          </mat-icon>
            </div>
            </div>
          <mat-card-header>
            <mat-card-title class="mat-titles">Phone</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-contents">
            <p>Tel: 069 24007613
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-email">
        <mat-card class="example-card">
            <div class="sym-container">
            <div class="mat-symbols">
          <mat-icon class="mat-symbols">
            <span class="material-symbols-outlined">
              mail
            </span>
          </mat-icon>
            </div>
            </div>
          <mat-card-header>
            <mat-card-title class="mat-titles">Email</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-contents">
            <p>ganeshaindianrestauran
                t@gmail.com
              <br>
              <br>
              <br>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-workinghours">
        <mat-card class="example-card">
            <div class="sym-container">
            <div class="mat-symbols">
          <mat-icon class="mat-symbols">
            <span class="material-symbols-outlined">
              timer
            </span>
          </mat-icon>
            </div>
            </div>
          <mat-card-header>
            <mat-card-title class="mat-titles">Working Hours</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-contents">
            <p>Monday - Saturday
              <br>
              <br>
              11.30Uhr - 22Uhr
              <br>
              <br>
            </p>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </div>

  
  <div class="google-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.874152821426!2d8.65553511558072!3d50.10736247942947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd0bfd9274a8b5%3A0x348c581c9da97779!2sGanesha%20Restaurant!5e0!3m2!1sen!2sde!4v1671645908195!5m2!1sen!2sde"
     class="google-mao-style" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<app-footer></app-footer>
