<app-header></app-header>
<div class="row breadcrum_img">
  <div class="">
    <div class="">
      <div class=""> <div class="page_head">Menu</div>
        <ol class="breadcrumb">
            <li class="home_tab"><a (click)="onClickhome()">Home</a></li>
            <li><a class="current-page">Menu</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div id="container-dishes">
 
  <div class="menu-container-dish">
    <div class="vorspeisen-container">
      <div class="vorspeisen-h1">
        Vorspeisen
      </div>
      <div class="dish-tablo">
        <div class="dish-tablo-left">
          <div class="dish-menus1">
            <div class="main-dishmenu1">
              <div class="dish-menu1-lft1">
                Vadai(2 Stück) mit Sambar
              </div>
              <div class="dish-menu1-rght1">
                3,00€
              </div>
            </div>
          </div>
          <div class="dish-menus2">
            <div class="main-dishmenu2">
              <div class="dish-menu2-lft2">
                Samosa(2 Stück)
              </div>
              <div class="dish-menu2-rght2">
                3,50€
              </div>
            </div>
          </div>
          <div class="dish-menus3">
            <div class="main-dishmenu3">
              <div class="dish-menu3-lft3">
                Mutton rolle(2 Stück)
              </div>
              <div class="dish-menu3-rght3">
                3,50€
              </div>
            </div>
          </div>
          <div class="dish-menus4">
            <div class="main-dishmenu4">
              <div class="dish-menu4-lft4">
                Papadam mit 3 vershiedenen soßen
              </div>
              <div class="dish-menu4-rght4">
                3,50€
              </div>
            </div>
          </div>
        </div>
        <div class="dish-tablo-right">
          <div class="dish-menus5">
            <div class="main-dishmenu5">
              <div class="dish-menu5-lft5">
                Chicken pakora
              </div>
              <div class="dish-menu5-rght5">
                4,50€
              </div>
            </div>
          </div>
          <div class="dish-menus6">
            <div class="main-dishmenu6">
              <div class="dish-menu6-lft6">
                Veg pakaro
              </div>
              <div class="dish-menu6-rght6">
                4,00€
              </div>
            </div>
          </div>
          <div class="dish-menus6">
            <div class="main-dishmenu6">
              <div class="dish-menu6-lft6">
                Chapati/Poori
              </div>
              <div class="dish-menu6-rght6">
                2,00€
              </div>
            </div>
          </div>
          <div class="dish-menus6">
            <div class="main-dishmenu6">
              <div class="dish-menu6-lft6">
                Bhatura
              </div>
              <div class="dish-menu6-rght6">
                2,00€
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="suppen-container">
      <div class="suppen-h1">
        Suppen
      </div>
      <div class="suppen-content1">
        <div class="suppen-left1">
          <div class="suppen-name-lf1">
            Linsensuppe
            <br>
            (rote Linsen mit Kokosmilch)
          </div>
          <div class="suppen-rate-lf1">
            4,00€
          </div>
        </div>
        <div class="suppen-right1">
          <div class="suppen-name-rt1">
            Gemüsesuppe
            <br>
            (Gemüse & rote Linsen mit Kokosmilch)
          </div>
          <div class="suppen-rate-rt1">
            4,00€
          </div>
        </div>
      </div>
    </div>

    <div class="Thali-container">
      <div class="Thali-h1">
        Thaligerichte
      </div>
      <div class="Thali-content1">
        <div class="Thali-left1">
          <div class="Thali-name-lf1">
            South Indian veg.Thali
          </div>
          <div class="Thali-rate-lf1">
            11,00€
          </div>
        </div>
        <div class="Thali-right1">
          <div class="Thali-name-rt1">
            South Indian non.veg Thali
          </div>
          <div class="Thali-rate-rt1">
            12,50€
          </div>
        </div>
      </div>
      <div class="Thali-content2">
        <div class="Thali-left2">
          <div class="Thali-name-lf2">
            North Indian veg.Thali
          </div>
          <div class="Thali-rate-lf2">
            12,00€
          </div>
        </div>
        <div class="Thali-right2">
          <div class="Thali-name-rt2">
            North Indian non.veg Thali
          </div>
          <div class="Thali-rate-rt2">
            13,00€
          </div>
        </div>
      </div>

    </div>

    <div class="idly-container">
      <div class="idly-h1">
        Idlygerichte
      </div>
      <div class="idly-content1">
        <div class="idly-left1">
          <div class="idly-name-lf1">
            Port idly mit Chutney & Sambar
            <br>
            (gedämpfte Bällchen aus Reismehl mit einer schraf, pikanten Kokosoße & einem Linsengericht)
          </div>
          <div class="idly-rate-lf1">
            5,00€
          </div>
        </div>
        <div class="idly-right1">
          <div class="idly-name-rt1">
            Port idly mit Chicken Curry
            <br>
            (gedämpfte Bällchen aus Reismehl mit Chicken curry)
          </div>
          <div class="Thali-rate-rt1">
            8,00€
          </div>
        </div>
      </div>
      <div class="idly-content2">
        <div class="idly-left2">
          <div class="idly-name-lf2">
            Port idly mit Lamm Curry
            <br>
            (gedämpfte Bällchen aus Reismehl mit Lamm curry)
          </div>
          <div class="idly-rate-lf2">
            9,50€
          </div>
        </div>
        <!-- <div class="idly-right2">
        <div class="idly-name-rt2">
          North Indian non.veg Thali
        </div>
        <div class="idly-rate-rt2">
          13,00€
        </div>
      </div> -->
      </div>

    </div>

    <div class="Fisch-container">
      <div class="Fisch-h1">
        Fischgerichte
      </div>
      <div class="Fisch-content1">
        <div class="Fisch-left1">
          <div class="Fisch-name-lf1">
            Fisch Masala
            <br>
            (Reis mit Fisch, zweibeln,Tamarinde)
          </div>
          <div class="Fisch-rate-lf1">
            09,50€
          </div>
        </div>
        <div class="Fisch-right1">
          <div class="Fisch-name-rt1">
            Fisch Masala
            <br>
            (Reis mit Fisch, zweibeln,Chilli und Tamarinde)
          </div>
          <div class="Fisch-rate-rt1">
            09,50€
          </div>
        </div>
      </div>
      <div class="Fisch-content2">
        <div class="Fisch-left2">
          <div class="Fisch-name-lf2">
            Red curry
            <br>
            (Reis mit Garmelen in einer currysoßen)
          </div>
          <div class="Fisch-rate-lf2">
            10,00€
          </div>
        </div>

      </div>

    </div>

    <div class="vege-container">
      <div class="vege-h1">
        Vegetarische Gerichte
      </div>
      <div class="vege-content1">
        <div class="vege-left1">
          <div class="vege-name-lf1">
            Parappu Curry
            <br>
            (Reis mit gelben, Linsen, Tomaten in Kokosmilch)
          </div>
          <div class="vege-rate-lf1">
            05,00€
          </div>
        </div>
        <div class="vege-right1">
          <div class="vege-name-rt1">
            Kathari Curry
            <br>
            (Reis mit frittierten Auberginem in roter Currysoße)
          </div>
          <div class="vege-rate-rt1">
            06,50€
          </div>
        </div>
      </div>
      <div class="vege-content2">
        <div class="vege-left2">
          <div class="vege-name-lf2">
            Aloo Gobi
            <br>
            (Reis mit kartoffeln, Blumenkohl in einer Currysoße)
          </div>
          <div class="vege-rate-lf2">
            06,00€
          </div>
        </div>
        <div class="vege-right2">
          <div class="vege-name-rt2">
            Mix, Vegetable Curry
            <br>
            (Reis mit vershiedenen Gemüsesorten in einer Currysoße)
          </div>
          <div class="vege-rate-rt2">
            06,50€
          </div>
        </div>
      </div>

      <div class="vege-content3">
        <div class="vege-left3">
          <div class="vege-name-lf3">
            Palak Paneer
            <br>
            (Reis mit Kase in Spinatcurry)
          </div>
          <div class="vege-rate-lf3">
            09,50€
          </div>
        </div>
        <div class="vege-right3">
          <div class="vege-name-rt3">
            Mattar Paneer
            <br>
            (Reis mit Kase in Erbsencurry)
          </div>
          <div class="vege-rate-rt3">
            09,00€
          </div>
        </div>
      </div>

    </div>

    <div class="idiyappam-container">
      <div class="idiyappam-h1">
        Idiyappam gerichte
      </div>
      <div class="idiyappam-content1">
        <div class="idiyappam-left1">
          <div class="Fisch-name-lf1">
            Port, idiyappam mit Kadala Curry
            <br>
            (schalenförmige pfannkuchen aus Reisteig mit kadala Currysoße)
          </div>
          <div class="idiyappam-rate-lf1">
            08,00€
          </div>
        </div>
        <div class="idiyappam-right1">
          <div class="idiyappam-name-rt1">
            Port, idiyappam mit Chicken Curry
            <br>
            (schalenförmige pfannkuchen aus Reisteig mit Hänchencurry)
          </div>
          <div class="idiyappam-rate-rt1">
            09,00€
          </div>
        </div>
      </div>
      <div class="idiyappam-content2">
        <div class="idiyappam-left2">
          <div class="idiyappam-name-lf2">
            Port, idiyappam mit Lamm Curry
            <br>
            (schalenförmige pfannkuchen aus Reisteig mit Lammcurry)
          </div>
          <div class="idiyappam-rate-lf2">
            10,00€
          </div>
        </div>

      </div>

    </div>

    <div class="poori-container">
      <div class="poori-h1">
        Poori/Chapathi Gerichte
      </div>
      <div class="poori-content1">
        <div class="poori-left1">
          <div class="poori-name-lf1">
            Poori/Chapathi mit Kadala Curry/Potato Curry
            <br>
            (2 Stück)
          </div>
          <div class="poori-rate-lf1">
            08,00€
          </div>
        </div>
        <div class="poori-right1">
          <div class="poori-name-rt1">
            Poori/Chapathi mit Chicken Curry
            <br>
            (2 Stück)
          </div>
          <div class="poori-rate-rt1">
            08,50€
          </div>
        </div>
      </div>
      <div class="poori-content2">
        <div class="poori-left2">
          <div class="poori-name-lf2">
            Poori/Chapathi mit Lamm Curry
            <br>
            (2 Stück)
          </div>
          <div class="poori-rate-lf2">
            10,00€
          </div>
        </div>
        <div class="poori-right2">
          <div class="poori-name-rt2">
            Chola Bhatura
            <br>
            (2 Stück)
          </div>
          <div class="poori-rate-rt2">
            08,00€
          </div>
        </div>
      </div>

    </div>

    <div class="Dessert-container">
      <div class="Dessert-h1">
        Desserts
      </div>
      <div class="Dessert-content1">
        <div class="Dessert-left1">
          <div class="Dessert-name-lf1">
            Laddu
            <br>
            (2 Stück)
          </div>
          <div class="Dessert-rate-lf1">
            02,50€
          </div>
        </div>
        <div class="Dessert-right1">
          <div class="Dessert-name-rt1">
            Gulabjamun
            <br>
            (2 Stück)
          </div>
          <div class="Dessert-rate-rt1">
            02,50€
          </div>
        </div>
      </div>
      <div class="Dessert-content2">
        <div class="Dessert-left2">
          <div class="Dessert-name-lf2">
            Payasam
          </div>
          <div class="Dessert-rate-lf2">
            10,00€
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
